body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

@font-face {
    font-family: Anarchaos;
    src: local("Anarchaos"), url(../fonts/anarchaos.ttf) format("truetype")
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: local("Plus Jakarta Sans"), url(../fonts/PlusJakartaSans.00cef0a55af005d0922b.ttf) format("truetype")
}

@font-face {
    font-family: Plus Jakarta Sans Light;
    src: local("Plus Jakarta Sans Light"), url(../fonts/PlusJakartaSans-Light.61f0ab11b2a88013dd12.ttf) format("truetype")
}

@font-face {
    font-family: Archivo;
    src: local("Archivo"), url(../fonts/Archivo-VariableFont_wdth%2Cwght.6884f8d59c59c13de246.ttf) format("truetype")
}

@font-face {
    font-family: Secular One;
    src: local("Secular One"), url(../fonts/SecularOne-Regular.141c1f3e034514617e8b.ttf) format("truetype")
}

@font-face {
    font-family: Ahser Punk;
    src: local("Asher Punk"), url(../fonts/AsherPunkDemoVersion-ALZJ2.7fdd329ec49e21d528f6.ttf) format("truetype")
}

@font-face {
    font-family: Open Sans;
    src: local("Open Sans"), url(../fonts/OpenSans.9c7806d7ef7d294f568e.ttf) format("truetype")
}

@font-face {
    font-family: Bebas Neue;
    src: local("Bebas Neue"), url(../fonts/BebasNeue-Regular.c501e16fa3f0781f9d73.ttf) format("truetype")
}

@font-face {
    font-family: League Spartan;
    src: local("League Spartan"), url(../fonts/LeagueSpartan-Bold.caadcad8af387d419251.otf) format("truetype")
}

@font-face {
    font-family: Oswald;
    src: local("Oswald"), url(../fonts/Oswald-Bold.7cbe6aaa312a7b0ce3d1.ttf) format("truetype")
}

.App {
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

@media(prefers-reduced-motion:no-preference) {
    .App-logo {
        -webkit-animation: App-logo-spin 20s linear infinite;
        animation: App-logo-spin 20s linear infinite
    }
}

.flex {
    align-items: center;
    display: flex;
    padding: 0 2rem
}

header {
    background-image: none !important
}

.background {
    align-items: center;
    background: radial-gradient(rgba(179, 0, 0, .35), rgba(148, 187, 233, 0));
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    overflow: hidden;
    padding: 5rem 0 0;
    position: relative;
    width: 100vw;
    z-index: 1
}

@media(max-width:600px) {
    .background {
        padding: 4rem 0 0
    }
}

.background:before {
    background-size: cover;
    left: 25%;
    margin: auto;
    opacity: .6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

@media(max-width:600px) {
    .background:before {
        bottom: 95%
    }
}

.App-header {
    align-items: center;
    background-color: #282c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh
}

.App-link {
    color: #61dafb
}

@-webkit-keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.twitter-timeline {
    margin: auto auto 3rem;
    max-height: 900px;
    overflow: scroll
}

.landing-page {
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    width: 100vw
}

.landing-page .header-button {
    background-color: #ddd;
    border-radius: 1rem;
    color: #000;
    font-family: Archivo, sans-serif;
    font-size: 1rem
}

.landing-page .timeline {
    font-family: Anarchaos;
    font-size: 1.9rem;
    margin: 2rem auto auto;
    padding-bottom: 3rem;
    width: 100%
}

@media(max-width:600px) {
    .landing-page .timeline {
        margin-top: 0
    }
}

.landing-page .social-links {
    border-radius: 1rem;
    margin: auto;
    padding: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.landing-page .header-text {
    font-weight: 700;
    margin-bottom: 2rem
}

.landing-page .founding-text {
    border-radius: 1rem;
    color: #1a1110;
    font-family: Anarchaos;
    font-size: 1.9rem;
    margin: 2rem auto 1rem;
    max-width: 700px;
    padding: 1rem 1rem 0
}

.landing-page .social-icons {
    margin-bottom: 3rem
}

.landing-page .twitter-timeline {
    border-radius: 16px;
    margin-top: 1rem !important
}

.project-name {
    color: #121212;
    display: flex;
    font-family: Anarchaos;
    font-size: 7rem;
    justify-content: center;
    letter-spacing: .7rem;
    line-height: 7rem;
    padding-bottom: 4rem
}

@media(max-width:600px) {
    .project-name {
        font-size: 6rem
    }
}

.logo {
    height: 18rem
}

@media(max-width:600px) {
    .logo {
        height: 10rem;
        width: 10rem
    }
}

.project-header {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    font-family: League Spartan;
    max-width: 50%;
    text-align: left
}

.project-header .main-text {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    line-height: 3.5rem
}

@media(max-width:600px) {
    .project-header .main-text {
        font-size: 1.4rem;
        letter-spacing: .1rem;
        line-height: 2rem;
        max-width: 90%
    }
}

.project-header .sub-text {
    color: silver;
    margin-bottom: 2rem
}

@media(max-width:600px) {
    .project-header .sub-text {
        font-size: .6rem
    }
}

.project-header .anarchy {
    font-family: Anarchaos;
    font-size: 8rem;
    font-weight: 400
}

@media(max-width:600px) {
    .project-header .anarchy {
        font-size: 4rem;
        line-height: 3rem
    }
}

.project-header .anarchy .a {
    color: #b30000;
    font-weight: 500
}

.project-stats {
    margin-top: 2rem
}

.project-stats .divider {
    border-right: 1px solid silver;
    margin-bottom: .6rem;
    margin-top: .6rem
}

.project-stats .stats-main {
    font-family: League Spartan;
    font-size: 2rem
}

@media(max-width:600px) {
    .project-stats .stats-main {
        font-size: 1.5rem
    }
}

.project-stats .stats-sub {
    color: silver;
    font-family: League Spartan;
    font-size: .7rem
}

.founder-message {
    background-color: #f2f2f2 !important;
    border-radius: 1rem;
    color: #1a1110;
    font-family: Anarchaos;
    font-size: 1.9rem;
    margin: 2rem auto 1rem;
    max-width: 600px
}

.founder-message .header {
    color: #1a1110
}

.body-wrapper {
    margin: 2rem;
    max-width: 90vw
}

@media(max-width:600px) {
    .body-wrapper {
        font-size: 2rem;
        margin: 1rem 2rem 2rem
    }
}

.anarchy {
    font-family: Anarchaos;
    font-size: 5rem;
    font-weight: 400
}

.anarchy1 {
    font-family: Anarchaos;
    font-size: 2rem;
    font-weight: 200
}

@media(max-width:600px) {
    .anarchy1 {
        font-size: 2rem;
        line-height: 2rem
    }
}

.anarchy1 .a {
    color: #b30000;
    font-weight: 200
}

@media(max-width:600px) {
    .anarchy {
        font-size: 4rem;
        line-height: 3rem
    }
}

.anarchy .a {
    color: #b30000;
    font-weight: 500
}

.chaos-section {
    color: #f2f2f2;
    font-family: Secular One;
    margin: 3rem auto 7rem;
    max-width: 900px;
    text-align: left
}

@media(max-width:600px) {
    .chaos-section {
        margin-bottom: 3rem
    }
}

.chaos-section .about-header {
    font-family: League Spartan;
    font-size: 2.5rem;
    line-height: 4rem
}

@media(max-width:600px) {
    .chaos-section .about-header {
        font-size: 2rem;
        line-height: 3rem
    }
}

.chaos-section .about-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: League Spartan;
    font-weight: 400;
    justify-content: space-around
}

@media(max-width:600px) {
    .chaos-section .about-content {
        flex-direction: column-reverse
    }
}

.chaos-section .about-content .about-message {
    color: #f2f2f2;
    font-size: 1.2rem;
    margin: 2rem 0 2.5rem
}

@media(max-width:600px) {
    .chaos-section .about-content .about-message {
        font-size: 1rem
    }
}

.chaos-section .tokenomics {
    margin-top: 2rem
}

.about-section {
    color: #f2f2f2;
    font-family: Secular One;
    margin: 3rem auto 7rem;
    max-width: 900px;
    text-align: left
}

@media(max-width:600px) {
    .about-section {
        margin-bottom: 3rem
    }
}

.about-section .about-header {
    font-family: League Spartan;
    font-size: 2.5rem;
    line-height: 4rem
}

@media(max-width:600px) {
    .about-section .about-header {
        font-size: 2rem;
        line-height: 3rem
    }
}

.about-section .about-header .anarchy {
    font-family: Anarchaos;
    font-size: 5rem;
    font-weight: 400
}

@media(max-width:600px) {
    .about-section .about-header .anarchy {
        font-size: 4rem;
        line-height: 3rem
    }
}

.about-section .about-header .anarchy .a {
    color: #b30000;
    font-weight: 500
}

.about-section .about-content {
    font-family: League Spartan;
    font-weight: 400
}

.about-section .about-content .about-message {
    color: #f2f2f2;
    font-size: 1.2rem;
    margin: 2rem 0 2.5rem
}

@media(max-width:600px) {
    .about-section .about-content .about-message {
        font-size: 1rem
    }
}

.about-section .about-content ul {
    color: silver;
    font-size: 1.4rem;
    margin-top: 1rem;
    padding-left: 20px;
    text-transform: uppercase
}

.community {
    color: #f2f2f2;
    font-family: Secular One;
    margin: 8rem auto 3rem;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media(max-width:600px) {
    .community {
        margin-bottom: 0
    }
}

.community .memes-header {
    font-family: League Spartan;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    text-align: center
}

.community .memes-content {
    display: flex;
    font-family: Secular One;
    font-weight: 400
}

.community .about {
    color: #f2f2f2;
    font-size: 1.2rem;
    margin: 2rem auto auto;
    max-width: 600px;
    text-align: center
}

@media(max-width:600px) {
    .community .about {
        font-size: 1rem
    }
}

.tokenomics {
    color: #f2f2f2;
    font-family: Secular One;
    margin: 6rem auto 7rem;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.tokenomics .about-header {
    font-family: League Spartan;
    font-size: 2.5rem;
    line-height: 4rem
}

.tokenomics .about-content {
    font-family: Secular One;
    font-weight: 400
}

.tokenomics .about-content .about-message {
    color: silver;
    font-size: 1.4rem;
    margin: 2rem 0 2.5rem
}

.tokenomics .about-content ul {
    color: silver;
    font-size: 1.4rem;
    margin-top: 1rem;
    padding-left: 20px;
    text-transform: uppercase
}

.social-button:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.footer .footer-name {
    font-size: 4rem;
    justify-content: center;
    line-height: 5.5rem
}

.footer .footer-name,
.header-text {
    align-items: center;
    color: #f2f2f2;
    display: flex;
    font-family: Anarchaos
}

.header-text {
    font-size: 3.5rem
}

@media(max-width:600px) {
    .header-text {
        font-size: 3rem
    }
}

.MuiToolbar-gutters {
    height: 1rem
}